<div class="row">
    <div class="col s12 m6">
        <div class="card small blue darken-4 sticky-action">
            <div class="card-content white-text">
                <span class="card-title">{{site.project_one}}</span>
                <i class="large material-icons">autorenew</i>
                <p>Agile Development & Project Management.</p>
            </div>
            <div class="card-action">
                <a href="{{site.project_one_url}}">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card small blue darken-4 sticky-action">
            <div class="card-content white-text">
                <span class="card-title">{{site.project_two}}</span>
                <i class="large material-icons">code</i>
                <p>Learn more about Git & Version Control.</p>
            </div>
            <div class="card-action">
                <a href="{{site.project_two_url}}">Learn More</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <div class="card small blue darken-4 sticky-action">
            <div class="card-content white-text">
                <span class="card-title">{{site.project_three}}</span>
                <i class="large material-icons">developer_board</i>
                <p>Learn about the DevOps Life Cycle.</p>
            </div>
            <div class="card-action">
                <a href="{{site.project_three_url}}">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card small blue darken-4 sticky-action">
            <div class="card-content white-text">
                <span class="card-title">{{site.project_four}}</span>
                <i class="large material-icons">device_hub</i>
                <p>Continuous Integration & Continuous Deployment.</p>
            </div>
            <div class="card-action">
                <a href="{{site.project_four_url}}">Learn More</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <div class="card small blue darken-4 sticky-action">
            <div class="card-content white-text">
                <span class="card-title">{{site.project_five}}</span>
                <i class="large material-icons">computer</i>
                <p>Learn about virtual machines and how to use them on your own computer.</p>
            </div>
            <div class="card-action">
                <a href="{{site.project_five_url}}">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card small blue darken-4 sticky-action">
            <div class="card-content white-text">
                <span class="card-title">{{site.project_six}}</span>
                <i class="large material-icons">cloud</i>
                <p>Learn more about Cloud Computing and how it can be utilized at University Libraries.</p>
            </div>
            <div class="card-action">
                <a href="{{site.project_six_url}}">Learn More</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <div class="card small blue darken-4 sticky-action">
            <div class="card-content white-text">
                <span class="card-title">{{site.project_seven}}</span>
                <i class="large material-icons">check_box</i>
                <p>Learn more about Test Driven Development.</p>
            </div>
            <div class="card-action">
                <a href="{{site.project_seven_url}}">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card small blue darken-4 sticky-action">
            <div class="card-content white-text">
                <span class="card-title">{{site.project_eight}}</span>
                <i class="large material-icons">widgets</i>
                <p>Learn more about Configuration Management using Ansible.</p>
            </div>
            <div class="card-action">
                <a href="{{site.project_eight_url}}">Learn More</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6">
        <div class="card small blue darken-4 sticky-action">
            <div class="card-content white-text">
                <span class="card-title">{{site.project_nine}}</span>
                <i class="large material-icons">keyboard</i>
                <p>Linux Command Line & Troubleshooting.</p>
            </div>
            <div class="card-action">
                <a href="{{site.project_nine_url}}">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card small blue darken-4 sticky-action">
            <div class="card-content white-text">
                <span class="card-title">{{site.project_ten}}</span>
                <i class="large material-icons">laptop_windows</i>
                <p>Windows Command Line & Troubleshooting.</p>
            </div>
            <div class="card-action">
                <a href="{{site.project_ten_url}}">Learn More</a>
            </div>
        </div>
    </div>
</div>